body{
    height:100vh;
    margin: 0;
    padding: 0;
    background-color: #dedbd2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color:#4a5759;
    width: 800px;
    height: 500px;
    border-radius: 10px;
    box-shadow:15px 15px 10px gray;
    user-select: none;
}

.playList{
    padding: 30px;
}

.audTag{
    width: 500px;
    height: 30px;
    margin: auto;
    /* background-color: tomato; */
    margin-bottom: 10px;
    font-size: 35px;
    border-bottom: 2px solid #edf6f9;
    padding: 15px;
    color: #fcbf49;
    font-weight: bold;
}

.parent{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent .control{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.parent .control .time{
    color: #fff;
    letter-spacing: 3px;
    font-size: 20px;
}
.parent .control .prograss{
    width: 500px;
    height:3px;
    background-color:#fff;
    margin: 10px;
}
.parent .control .prograss .current{
    background-color: red;
    width:0px;
    height: 3px;
}
.parent .control .btns{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content : space-around;
    font-size: 30px;
    margin-top: 10px;
    color: #dedbd2;
    cursor: pointer;
}
.parent .control .btns .pauseBtn{
    display: none;
}
.audTag:active{
    background-color: #dedbd254;
    border-radius: 5px;
}